/* Import Google font - Elms Sans */
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:wght@100..900&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;
}
.slider-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider-wrapper .slider-item {
    position: relative;
    width: 100%;
    height: 100vh;
}

.slider-wrapper .slider-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/pc.png");
    background-position: center;
    background-size: cover;
}

.slider-wrapper .slider-item:nth-child(3):before {
 background-image: url("images/pattern.jpg");
}

.slider-wrapper .slider-item:nth-child(4):before {
 background-image: url("images/geo.jpg");
}

.slider-wrapper .slider-item:nth-child(5):before {
 background-image: url("images/tunnel.jpg");
}

.slider-wrapper .slider-item .slider-content{
   position: relative; 
   color: aliceblue;
    z-index: 2; 
}

.slider-item .slider-content .slide-subtitle {
    font-size: 1rem;
    font-weight: normal;
}

.slider-item .slider-content .slide-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
    text-transform: uppercase;
}

.slider-item .slider-content .site-description {
    margin-top: 25px;
    line-height: 25px;
}

.slider-item .slider-content .slide-button {
    color: #FFFF;
    display: block;
    width: 250px;
    padding: 10px;
    margin-top: 4px;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #FFFF;
    transition: 0.8s ease;

}

.slider-item .slider-content .slide-button:hover {
    color:black;
    background: #FFFF;
}



